body{
	font-size: 17px ; 
	background-color: black ;
	/*background: url('../images/layer.png') no-repeat black ;*/
	color: #fff ;
    font-family: 'Abel', sans-serif;
}

#header-nav {
  background-color: #DBD2BB;
  border-radius: 0;
  border: 0;
}

#logo-image{
    background: url('../images/logo.png')no-repeat ;
    width: 135px ; 
    height: 115px ;
    margin: 0;   	
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 { /* cold play */
  font-family: 'Monoton', cursive;
  color: #AD3A60;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover , .navbar-brand a:hover {
	text-decoration: none;
}
.noth { /*look how the shine */
	margin-top: 3px ;
	font-weight: 500;
	text-shadow: 1px 1px 1px #222 ;
}

#nav-list {
	margin-top: 12px ;
}
#nav-list  a{
	text-align: center; 
	font-size: 18px ;
	color:#AD3A60;   
}
#collapsable-nav a{
	font-size: 1.3em ; 
}

#nav-list span {
	font-size: 28px ; 
}
#nav-list li {
margin: 5px ; 	
}

#nav-list a:hover{
	background : #FFF3DF ;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  position: relative;
  top: -25px ;  
}

.container .jumbotron {
	margin-top: 20px ;
	padding: 0px ;
	box-shadow: 0 5px 35px white ;
}
#home-tiles {
	margin-top: 50px ; 
}
#albums-tile ,  #awards-tile , #concerts-tile {
	height: 250px ;
	padding: 0 ;
	margin-bottom: 25px ;
	margin-top: 45px ; 
	position: relative ; 
	background-color: white ;
	border: 1px solid white ; 
	overflow: hidden;  
	margin: 0 auto 15px;

}

#albums-tile:hover, #awards-tile:hover, #concerts-tile:hover {
	box-shadow: 0 1px 5px 1px white ;
}

#albums-tile {
	background: url('../images/albums.png') no-repeat;
	background-position: center; 
}

#awards-tile {
	background: url('../images/awards.png') no-repeat;
	background-position: center;
}

#concerts-tile {
	background: url('../images/about.png') no-repeat;
	background-position: center;
}

#albums-tile span ,  #awards-tile span , #concerts-tile span {
	position: absolute;
    bottom: 0;
    width: 100% ;
    right: 0;   
	text-align: center;
	background-color: #DC6B82 ;
	opacity: .6 ;
	font-size: 1.6em ;
	color: #fff 
}


@media (min-width: 1200px) {
  .container .jumbotron{
  	background: url('../images/e_1200.png') no-repeat;
  	height: 794px ;
   }

}

@media (min-width: 992px) and (max-width: 1199px){
	.container .jumbotron {
		background: url('../images/e992.png') no-repeat;
		height: 656px ;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.container .jumbotron {
		background: url('../images/e_768.png') no-repeat;
		height: 508px ;
	}
	#concerts-tile {
		width: 60% ;
	}
} 

@media (max-width: 767px)and (min-width: 450px) {
	#home-tiles{
		width: 67%;
	}
}
@media (max-width: 449px) {
	#home-tiles{
		width: 400px ;
	}
}
