body{
	font-size: 17px ; 
	background: url('../images/layer.png') no-repeat black ;
	color: #fff ;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #F8E434;
  border-radius: 0;
  border: 0;
}

#logo-image{
    background: url('../images/logo.png')no-repeat ;
    width: 135px ; 
    height: 115px ;
    margin: 0;   	
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 { /* cold play */
  font-family: 'Monoton', cursive;
  color: #AD3A60;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover , .navbar-brand a:hover {
	text-decoration: none;
}
.noth { /*look how the shine */
	margin-top: 3px ;
	font-weight: 500;
	text-shadow: 1px 1px 1px #222 ;
}
